<div class="container">
    <header class="portal-header">
        <h5 class="portal-h5"> Tecnica Factor It</h5>
        <!-- <span class="material-symbols-outlined">
            shopping_cart
        </span> -->
    </header>
    <main class="portal-flex">
        <!-- <h3>Productos</h3> -->
        <div class="portal-col-l productos-container">
            <div *ngFor="let p of listadoProductos" class="portal-flex-center cards-container">
                <app-cards [infoProducto]="p" class="card-flex portal-col-l">
                </app-cards>
                <button (click)="agregarACarrito(p)" class="portal-btn"> Agregar a Carrito </button>
            </div>
        </div>
        <div class="pago-col">
            <h3> Detalle Compra </h3>
            <label *ngIf="carrito.tipo"> Carrito {{carrito.tipo}} </label>
            <div *ngFor="let p of carrito.productos" class="portal-seleccionado">
                <p> {{p.nombre}} </p>
                <p> ${{p.precio}} </p>
                <span class="material-symbols-outlined close-icon" (click)="eliminarDelCarrito(p.id)">
                    close
                </span>
            </div>
            <hr>
            <div class="precio-flex">
                <label> Precio total </label>
                <p> ${{ totalSinDescuento }} </p>
            </div>
            <div *ngIf="descuento" class="precio-flex">
                <label> Precio con descuento </label>
                <p> ${{ carrito.total }} </p>
            </div>

            <button (click)="registrarCarrito()" 
            [disabled]="carrito.productos.length == 0" 
            class="btn-finalizar" 
            [class.disabled]="carrito.productos.length == 0"> Finalizar compra </button>
        </div>
    </main>
</div>