<div>
    <header>
        <h5> Tecnica Factor It</h5>
        <span class="material-symbols-outlined">
            shopping_cart
        </span>
    </header>
    <main>
        <h3>Productos</h3>
        <div *ngFor="let p of listadoProductos">
            <app-cards
            [infoProducto]="p"
            >
            </app-cards>
            <button (click)="agregarACarrito(p)"> Agregar a Carrito </button>
        </div>
    </main>
    <aside>
        <h3> Detalle Compra </h3>
        <label *ngIf="carrito.tipo"> Carrito {{carrito.tipo}} </label>
        <div *ngFor="let p of carrito.productos">
            <div>
                <p> {{p.nombre}} </p>
                <p> ${{p.precio}} </p>
            </div>
            <span class="material-symbols-outlined" (click)="eliminarDelCarrito(p.id)">
                delete
            </span>
        </div>
        <hr>
        <div>
            <label> Precio total </label>
            <p> ${{ totalSinDescuento }} </p>
        </div>
        <div *ngIf="descuento">
            <label> Precio con descuento </label>
            <p> ${{ carrito.total }} </p>
        </div>

        <button (click)="registrarCarrito()" [disabled]="carrito.productos.length == 0"> Finalizar compra </button>
    </aside>
</div>
