<div>
    <header>
        <h5> Tecnica Factor It</h5>
        <span class="material-symbols-outlined">
            shopping_cart
        </span>
    </header>
    <main>
        <h2>Productos</h2>
        <app-cards></app-cards>
    </main>
    <aside>
        <p> Tipo Carrito </p>
        <div>
            <div>
                <p> Nombre producto </p>
                <p> $ Precio </p>
            </div>
            <span class="material-symbols-outlined">
                delete
            </span>
        </div>
        <p> Precio total </p>
        <p> Precio con descuento </p>

        <button> Finalizar compra </button>
    </aside>
</div>
